# InsideOut Final Project Shenkar College 2024

In [1]:
import pandas as pd

/var/folders/7z/lsvtctdd3pz4fhtvppypnv9c0000gp/T/ipykernel_33327/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
ds4 = pd.read_csv('dataset4.csv')

## Preprocessing

### Remove Rows With Too Much Missing Values

- **Rank Rows by Missing Values**: Identify and sort rows in `ds4` based on the count of missing values.

- **Calculate Missing Values Average**: Compute the average number of missing values across all rows.

- **Filter Rows**: Retain rows where the missing values are less than or equal to the calculated average

Leading to a dataset with fewer missing values.

In [53]:
# Sort rows by the count of missing values
ds4_sorted = ds4.isnull().sum(axis=1).sort_values(ascending=False).index
ds4_sorted = ds4.loc[ds4_sorted]

# Calculate the average number of missing values per row
avg_of_missing_values_in_row = ds4.isnull().sum(axis=1).mean()

# Create a mask for rows where the count of missing values is less than or equal to the average
mask = ds4.isnull().sum(axis=1) <= avg_of_missing_values_in_row

# Apply the mask to the original DataFrame to filter out rows
ds4_clean_mean_missing_vals = ds4[mask]

ds4_clean_mean_missing_vals

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0,68.0,22.730000,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0,77.0,27.420000,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
3,79267,46918,118,0,81.0,22.640000,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
6,82208,49526,83,0,59.0,57.450000,0,Caucasian,F,165.1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
8,80471,10577,118,1,45.0,NaN,0,Caucasian,M,170.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91697,128303,51968,195,0,33.0,24.488889,0,Caucasian,F,150.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
91703,65539,128056,30,0,53.0,45.935203,0,Caucasian,M,190.5,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
91706,127138,59223,121,0,54.0,19.770448,0,Native American,M,177.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
91708,91592,78108,30,0,75.0,23.060250,0,Caucasian,M,177.8,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,Sepsis,Cardiovascular
91709,66119,13486,121,0,56.0,47.179671,0,Caucasian,F,183.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular